.claimsContainer {
    width: 90vw;
    height: 100vh;
    margin-left: 5vw;
}

.grids {
    width: 1000px;
    display: grid;
    grid-template-columns: 400px 400px;
}
.container {
    width: 90%;
    margin-left: 7%;
    margin-top: 15vh;
}
