.firstSection-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.firstSection-main-one {
  width: 80%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.firstSection-main-one-first .first-heading {
  font-size: 38px;
  font-weight: lighter;
}
.firstSection-main-one-first .first-heading strong {
  font-weight: 900;
}
.firstSection-main-one-second {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.firstSection-main-one-first div{
  display: flex;
  justify-content: space-between;
}
.firstSection-main-one-second .first-section-img{
  margin-left: 50px;
  margin-right: 30px;
  padding: 20px;
  border: 3px solid black;
  border-image: linear-gradient(to left, #5b4cfa, #5b4cfa) 1 0;
}
.firstSection-main-one-second h2{

}
.firstSection-words {
  padding: 10px;
  color: white;
  border-radius: 5px 0px;
}

.firstSection-cards .firstSection-words{
  
}

.blue-txt{
  color: #5b4cfa;
  font-size: 14px;
  font-weight: bold;
}

.orange-txt {
  color: #f38a1a;
  font-size: 14px;
  font-weight: bold;
}
.firstSection-combIconTxt{
  margin-right: 50px;
}
.firstSection-combIconTxt i{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right:10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.firstSection-combIconTxt .one {
  color: #5b4cfa;
  border: 1px solid #5b4cfa;
  
}

.firstSection-combIconTxt .two {
  color: #f38a1a;
  border: 1px solid #f38a1a;
}
.firstSection-main-two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstSection-main-two-container {
  width: 85vw;
}
.two-container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.cards-card {
  width: 130px;
  height: 140px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}