.container{
    margin-top: 100px;
 }
 .container h2{
     margin-left: 10vw;
 }
 .cards{
     background: #F6F9FE;
     margin: 40px 10vw 40px 10vw;
     padding: 30px;
     border-radius: 15px;
 }
 .cards1{
     display: flex;
 }
 .cards1 i{
     color: #5041ec;
     padding: 8px 20px 0px 20px;
     font-weight: bold;
 }
 .cards1 p{
     color: #5041ec;
     font-size: 20px;
     font-weight: bold;
 }
 .cards2{
     display: flex;
     justify-content: space-between;
     padding-left: 20px;
 }
 .cards2 p{
     width: 70%;
 }
 .buyBtn{
     cursor: pointer;
     background-color: #5b4cfa;
     height: 40px;
     color: white;
     padding: 10px;
     border-radius: 20px;
     border: none;
     width: 200px;
 }
 .buyBtn:hover{
     opacity: 0.9;
 }
 .myinsurance{
     background: #F6F9FE;
     margin: 40px 10vw 40px 10vw;
     padding: 30px;
     border-radius: 15px;
 }
 .myinsurance h5{
    color: #5041ec;
    font-weight: bold;
    text-align: center;
 }
 .myinsurance h6{
    text-align: center;
 }
 .myinsurance .loginbtn{
    cursor: pointer;
    background-color: #5b4cfa;
    height: 40px;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 200px;
 }
 .myinsurance table tr th{
    width: 200px;
    background: #dae8ff;

 }
 .myinsurance table{
    margin-left: 50px;
 }
 .myinsurance table, th, td {
    border: 1px solid black;
    padding: 5px;
  }